In [1]:
import pandas as pd
import pickle
import requests

In [2]:
data = pd.read_csv('../Dataset/churn-modelling.zip')

In [3]:
sample = data.sample()

In [4]:
sample

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5884,5885,15706036,Lombardo,552,Germany,Male,38,10,132271.12,2,1,1,46562.02,0

In [5]:
url = 'https://vinipilan-churn-model.herokuapp.com/predict'
# url = 'http://localhost:5000/predict'

sample_json = sample.to_json(orient='records')

r = requests.post(url=url, data=sample_json, headers={'Content-type':'application/json'})

print(r.status_code)

200

In [6]:
r

In [7]:
r.json()

[{'CreditScore': 0.3666312434,
  'Gender_Male': 1,
  'Age': 0.4,
  'Balance': 0.5271906215,
  'NumOfProducts': 0.4,
  'HasCrCard': 1,
  'IsActiveMember': 1,
  'EstimatedSalary': 0.2327997377,
  'Geography_France': 0,
  'Geography_Germany': 1,
  'Geography_Spain': 0,
  'Surname_freq': 0.4745762712,
  'Prediction': 0,
  'Prediction_prob': 0.25}]