In [1]:
import pandas as pd
import pickle
import requests

In [15]:
data = pd.read_csv('../Dataset/Churn_Modelling.csv')

In [3]:
sample = data.sample()

In [8]:
sample

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9231,9232,15767781,Godfrey,648,France,Male,38,10,82697.28,1,1,0,74846.67,0

In [21]:
url = 'https://vinipilan-churn-model.herokuapp.com/predict'
# url = 'http://localhost:5000/predict'

sample_json = sample.to_json(orient='records')

r = requests.post(url=url, data=sample_json, headers={'Content-type':'application/json'})

print(r.status_code)

200

In [22]:
r

In [23]:
r.json()

[{'CreditScore': 0.5706695005,
  'Gender_Male': 1,
  'Age': 0.4,
  'Balance': 0.32960506,
  'NumOfProducts': 0.0,
  'HasCrCard': 1,
  'IsActiveMember': 0,
  'EstimatedSalary': 0.3742518722,
  'Geography_France': 1,
  'Geography_Germany': 0,
  'Geography_Spain': 0,
  'Surname_freq': 0.1016949153,
  'Prediction': 0,
  'Prediction_prob': 0.22}]