In [1]:
import pandas as pd
import pickle
import requests

In [2]:
data = pd.read_csv('../Dataset/churn-modelling.zip')

In [3]:
sample = data.sample()

In [4]:
sample

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
8053,8054,15800524,Nnanna,686,Germany,Male,29,3,185379.02,1,1,0,64679.07,0

In [5]:
url = 'https://vinipilan-churn-model.herokuapp.com/predict'

sample_json = sample.to_json(orient='records')

r = requests.post(url=url, data=sample_json, headers={'Content-type':'application/json'})

print(r.status_code)

200

In [6]:
r

In [7]:
r.json()

[{'CreditScore': 0.651434644,
  'Gender_Male': 1,
  'Age': 0.22,
  'Balance': 0.7388618223,
  'NumOfProducts': 0.0,
  'HasCrCard': 1,
  'IsActiveMember': 0,
  'EstimatedSalary': 0.323403489,
  'Geography_France': 0,
  'Geography_Germany': 1,
  'Geography_Spain': 0,
  'Surname_freq': 0.1355932203,
  'Prediction': 0,
  'Prediction_prob': 0.48}]