In [8]:
import pandas as pd
import pickle
import requests

In [9]:
data = pd.read_csv('../Dataset/Churn_Modelling.csv')

In [10]:
sample = data.sample()

In [11]:
sample

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
8442,8443,15677828,Chalmers,598,France,Female,34,4,0.0,2,0,0,60894.26,0

In [12]:
url = 'https://vinipilan-churn-model.herokuapp.com/predict'


r = requests.post(url=url, data=sample.to_json(orient='records'), headers={'Content-type':'application/json'})

print(r.status_code)

503

In [14]:
r